@import "@/app/theme";

.btn {
	width: 588px;
	height: 41px;
	background-color: $orange;
	color: $text;
	font-family: "Barlow", sans-serif;
	font-size: 18px;
	font-weight: 500;
	border-radius: 10px 10px 10px 10px;
	border: 0;
	a {
		text-decoration: none;
	}
}

@media (min-width: 200px) and (max-width: 699px) {
	.btn {
		width: 300px;
	}
}
